geopandas==1.0.1
google-play-scraper==1.2.7
pandas==2.2.2
pandas-datareader==0.10.0
pandas-gbq==0.28.0
pandas-stubs==2.2.2.240909
sklearn-pandas==2.2.0
pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4
seaborn==0.13.2
nltk==3.8.1
emoji==2.14.1
Sastrawi==1.0.1
wordcloud==1.9.4
scikit-learn==1.4.2
gensim==4.3.3
tensorflow==2.18.0
keras-tuner==1.4.7
